swagger: "2.0"
info:
    contact:
        email: ""
        name: Speakeasy Support
        url: https://speakeasy-dev.slack.com/join/shared_invite/zt-1cwb3flxz-lS5SyZxAsF_3NOq5xc8Cjw
    description: A club that serves drinks and plays jazz. A Goa and Speakeasy example.
    license:
        name: Apache 2.0
        url: https://www.apache.org/licenses/LICENSE-2.0.html
    termsOfService: https://www.speakeasyapi.dev/docs/terms-of-service
    title: The Speakeasy Club
    version: 1.0.0
    x-speakeasy-retries:
        statusCodes: 408,504
        strategy: backoff
host: localhost:51000
consumes:
    - application/json
    - application/xml
    - application/gob
produces:
    - application/json
    - application/xml
    - application/gob
paths:
    /openapi.json:
        get:
            tags:
                - band
            summary: Download ./gen/http/openapi.json
            operationId: band#/openapi.json
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
    /play:
        post:
            tags:
                - Music operations
            summary: play band
            description: Choose your jazz style.
            operationId: band#play
            parameters:
                - name: PlayRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/BandPlayRequestBody'
                    required:
                        - style
            responses:
                "204":
                    description: No Content response.
            schemes:
                - http
    /tea:
        post:
            tags:
                - Drink operations
            summary: tea order
            description: Order a cup of tea.
            operationId: order#tea
            parameters:
                - name: TeaRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/OrderTeaRequestBody'
            responses:
                "200":
                    description: OK response.
                    schema:
                        type: string
            schemes:
                - http
definitions:
    BandPlayRequestBody:
        title: BandPlayRequestBody
        type: object
        properties:
            style:
                type: string
                description: Style of music to play
                example: Swing
                enum:
                    - Bebop
                    - Swing
        example:
            style: Swing
        required:
            - style
    OrderTeaRequestBody:
        title: OrderTeaRequestBody
        type: object
        properties:
            includeMilk:
                type: boolean
                description: Whether to have milk.
                example: true
            isGreen:
                type: boolean
                description: Whether to have green tea instead of normal.
                example: false
            numberSugars:
                type: integer
                description: Number of spoons of sugar.
                example: 3575711038161794215
                format: int64
        example:
            includeMilk: false
            isGreen: false
            numberSugars: 2987982917248960936
externalDocs:
    description: The Speakeasy Club documentation
    url: https://www.speakeasyapi.dev/docs
